body{
	font-family: Open Sans,Arial;
	color: #454545;
	font-size: 16px;
	line-height: 1.4;
	text-align: justify;
}

h1, h2{
	color: #454545
	font-family: Comic Sans MS;
}


p{
	color: #454545;
}

.wrong{
	font-weight: bold; 
	color: #aa3300
}

a:link{
	color:#aa0077;
}

a:visited {
	color: #aa3300;
}

a:hoover, a:focus {
	color: #0077aa;
}